{%load static%}
<html>
<head>
    <link rel="stylesheet" type = "text/css"
	 href="{%static 'home\exp.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="exp.css">

</head>
<body>

<div class = "app-container" >

      <div class = "top-box" >

        <P>
          payment gateway
        </P>

      </div>

      <div class = "middle-box">
      <h1> 1599<span>$</span> </h1>
      <p> pay to xyz company ltd</p>
      </div>


          <!-- <button type="button" class="payment-option-btn">pay using Bkash</button> -->

          <div class="card-details">
            <p>pay using Bkash :01626154884</p>
            <div class="card-num-field-group">
              <label>Your Bkash Number<br></label>
              <input type="text" class="card-num-field" placeholder="+8801xxxxxxxx">

            </div>


            <div class="name-field-group">
              <label>Referel Number<br></label>
              <input type="text" class="name-field" placeholder="xxx-xxx-xxx">
            </div>

            <button type="button" class="pay-btn">Pay Now </button>

          </div>
          <p></p>

        </div>
</div>


</body>
</html>
